*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}
header nav #img{
    height: 70px;
    width: 50px;
    cursor: pointer;
}

body{
    color: green;
}

.messages{
    padding: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(93, 130, 252);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}

header{
    padding: 1em;
    background: transparent;
    border-bottom: 2px solid rgb(47, 255, 54);
    border-radius: 0px 0px 30px 30px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(47, 255, 54) ;
    transition: .5s;
}

header nav ul li:hover{
    padding: 12px;
    background-color: rgb(47, 255, 54);
}

header nav ul li a{
    text-decoration: none;
    color: rgb(47, 255, 54) ;
    font-weight: bold;
    padding: 12px;
}

header nav ul li a:hover{
    color: white;
}

.container{
    min-height: 60vh;
    padding: 2em;
}

footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    border-top: 1px solid rgb(47, 255, 54);
}

footer span{
    font-weight: bold;
    color: rgb(47, 255, 54);
}

.auth-container{
    margin: 10px auto;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container h2{
    margin: 1em;
    color:rgb(47, 255, 54) ;
    padding: 5px;
    padding-left: 5px;
    border-left: 5px solid rgb(47, 255, 54);
}

.auth-container form{
    width: 80%;
    margin-bottom: 1em;
}

.auth-container form .form-control{
    padding: 10px;
    color: rgb(47, 255, 54);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    width: 98%;
}

.auth-container form .form-control input, .form-control textarea{
    padding: 10px;
    border: none;
    color: green ;
    border: 1px solid rgb(47, 255, 54);
    border-radius: 10px;
    background: transparent;
}

.auth-container form input[type = 'submit']{
    display: flex;
    padding: 10px;
    border: none;
    background-color: rgb(47, 255, 54);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-weight: bold;
}

.auth-container form p{
    text-align: center;
    margin: 10px;
    color: rgb(47, 255, 54);
    font-weight: bold;
}

.auth-container form p a{
    text-decoration: none;
    color: rgb(189, 255, 47);
}

.btn{
    padding: 10px;
    color: rgb(47, 255, 54) ;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    border: none;
}

.btn:hover{
    color: white;
    background-color: rgb(47, 255, 54);
    padding: 12px;
}
.list{
    width: 90%;
}

.list p{
    text-align: center;
}
.list p a{
    text-decoration: none;
    color: rgb(47, 255, 54);
    font-weight: bold;
}

.list ul{
    list-style: none;
}

.list ul li{
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    font-weight: bold;
    border-bottom: 1px solid green;
    align-items: center;
}

.list .action{
    display: flex;
    flex-direction: row;
}

.list .action a{
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color:rgb(47, 255, 54) ;
}

.list .action form input{
    cursor: pointer;
}

.home-header{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-header h1{
    margin-bottom: 1em;
}

.home-header span{
    color:rgb(47, 255, 54);
}

.home-header p, .home-header form {
    margin-bottom: 1.2em;
}

.home-header input{
    border: none;
    background-color: transparent;
    color: green;
    border-bottom: 1px solid rgb(47, 255, 54);
    padding: .5em;
    margin-right: 1em;
}

.home-header input[type='text']{
    width: 60%;
}

.home-header input::placeholder{
    color: green;
}

.order-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;   
}

.order-container span{
    font-weight: bold;
}

.order-container form{
    margin: 0;
}

.order-container button{
    margin-bottom: 0;
    color: green;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.order-container a{
    text-decoration: none;
    background-color: rgb(47, 255, 54);;
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
}

.order-container a:hover{
    background-color:transparent ;
    border: 1px solid rgb(47, 255, 54);
    color: rgb(47, 255, 54);
    box-shadow: 2px 2px 3px 0px rgb(47, 255, 54);

}

.order-container button:hover{
    color: rgb(47, 255, 54);
}

.order-container button, .order-container a{
    margin: 0 7px;
}

.toughts-container figure{
    border-bottom: 1px solid rgb(47, 255, 54);
    padding: .5em;
    max-width: 50%;
    margin: 0 auto 1em;
}

.toughts-container blockquote{
    font-style: italic;
    font-size: 2em;
    margin-bottom: 0.4em;
}

.toughts-container span{
    text-shadow: 0px 0px 5px rgb(47, 255, 54);
    color: rgb(47, 255, 54);
}